@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
section::after {
    content: "";
    display: block;
    clear: both;
}

/* TYPOGRAPHY */

h1{
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0; /* this is to fix the home-about-title that offsets it from the top*/
}

p {
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type { /* for the bottom paragraph*/
    margin-bottom: 0;
    
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900; /* this line and the one after fix the title to be a bit centered*/
    margin-top: 1em;
}

    .title span {
        font-weight: 300;
        display: block;
        font-size: .9em;
    }

.title-cta {
    margin: 0 0 .5em;
}

@media (min-width: 60rem) {
    
    p{
        font-size: 1.2rem;
        line-height: 1.6;
    }
    
    .title {
        font-size: 3.7rem;
    }
}

/* BUTTONS */

.button {
    display: inline-block;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

@media (min-width: 60rem) {
    .button {
        font-size: 1.5rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
}

.button-accent {
    color: #00ff6c;
    border-color: #00ff6c; /*to preserve the border color when clicked*/
}

    .button-accent:hover,
    .button-accent:focus {
        background: #00ff6c;
        color: #232323;
    }

.button-dark {
        color: #232323;
        border-color: #232323; /*to preserve the border color when clicked*/
    }
    
    .button-dark:hover,
    .button-dark:focus {
        background: #232323;
        color: #00ff6c;
    }
    

/* HEADER 
===============================*/

header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    padding: .5em;
    color: #FFF;
}

    nav a:hover,
    nav a:focus {
        color: #DDD;
    }

@media (min-width: 60rem) {
    .logo {
        float: left;
    }

    nav {
        float: right;
    }
}

/* HERO SECTION 
===============================*/

.home-hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #FFF;
}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }
}

/* ABOUT SECTION 
===============================*/

.home-about-textbox {
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;     
    outline: 2px solid #00ff6c;
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;
}

.home-about-textbox h1 {
    color: #00ff6c;
    position: absolute; 
    top: .75em;
    background: #232323;
    padding: 0 .145em;
    left: 50%;
    transform: translateX(-50%);    
}

@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }

    .home-about-textbox {
		padding: 5.5em;
	}

    .home-about-textbox h1 {
        top: .65em;
        padding: 0 .325em;
    }
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }

    .home-about {
        background-image: url(../img/who-we-are.jpg);
        background-repeat: no-repeat;
        padding: 10em;
    }

    .home-about-textbox {
        width: 50%;
        padding: 7em;
        outline-offset: -3.75em;
        margin-left: -2.5%; 
        top: -5em; 
        text-align: left;  
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3);     
    }

    .home-about-textbox h1 {
        top: .75em;  
        left: 6rem;
        transform: translateX(0); 
        text-transform: uppercase;     
    }
}


/* PORTFOLIO
===============================*/

.portfolio {
    margin: 3em 0 0; /* top 3em, left and right and bottom 0em*/
}

.port-item {
    margin: 0;
    position: relative; /*to be able to move items properly*/
}

.port-item img {
    display: block;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    color: #DDD;
    background: rgb(0, 0, 0, .6);
    padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (min-width: 37rem) {
    .port-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .port-item {
        width: 33.3333334%;
        overflow: hidden;
    }

    .port-desc {
        transform: translateY(150%);
    }

    .port-item:hover .port-desc {
        transform: translateY(0%);
    }
}

/* CTA 
===============================*/

.cta {
    background-color: #00ff6c;
    padding: 5em 0;
}



/* NOTES
===============================

- My browser is 1920 x 937 (120rem x 58.5625rem), so I get white spaces 
vertically between the portfolio images
*/